spring:
   profiles:
      active:
         - dev
---
spring:
   profiles:  dev
   application:
      name: microservicecloud-config-hefuyu-dev      
---
spring:
   profiles: test
   application:
      name: microservicecloud-config-hefuyu-test
